body{
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #4d545d;
	display: block;

}
/* Text color styles*/
.danger-text{ color:#ff4444;}
.danger-dark-text{color:#CC0000;}

.warning-text{ color:#ffbb33;}
.warning-dark-text{color:#FF8800;}

.success-text{ color:#00C851;}
.success-dark-text{color:#007E33;}

.info-text{ color:#33b5e5;}
.info-text{color:#0099CC;}

.primary-text{ color:#4285F4;}
.primary-dark-text{color:#0d47a1;}

.default-text{ color:#2BBBAD;}
.default-text{color:#00695c;}

.elegant-text{ color:#2E2E2E;}
.elegant-dark-text{color:#212121;}

.stylish-text{ color:#4B515D;}
.stylish-dark-text{color:#3E4551;}

.special-text{ color:#37474F;}
.special-dark-text{color:#263238;}

.unique-text{ color:#3F729B;}
.unique-dark-text{color:#1C2331;}
/*navber styles*/
.navbar-default {background-color: #2BBBAD; padding: 5px;}
.navbar-default .navbar-nav>li:hover {background-color: #fff;}
.navbar-default .navbar-nav>li >.notification:hover {background-color:#2BBBAD;}
.navbar-default .dropdown:hover {background-color: #fff;}
.navbar-default .dropdown:hover .dropdown-menu{display: block;}
.navbar-default .navbar-nav>li>a, a.navbar-brand {color: #37474F;}
/*side bar style */
.sidebar {border-right:solid 1px #e0e0e0 ;}
.menu-label {font-weight: 700;font-size: 15px;letter-spacing: -.5px;margin-bottom: 1em;color:#757575; text-align: center;}
.menu-list{list-style-type:none;list-style-position: outside; padding-left: 0px;}
.menu-list >li{    
    border-bottom: 1px dotted #d7d7d7;
    padding: 10px 0;
    -webkit-transition: padding-left .4s;
    transition: padding-left .4s;
    color: #69707a;
    font-weight: 400;
    letter-spacing: -.5px;
}
.menu-list >li:hover {background-color:#eceff1 ;}
a {color: #30b1a4;}
a , a:hover, li.active a {text-decoration: none;}
li > a{font-weight: 400; font-size: 15px; padding-left: 5px;}
li.active a {color:#2bbbad; font-weight: 600; margin-left: 10px; text-decoration: blink;}
span.help-inline .validate-text {color: red;}
.main-content {padding-left: 20px;}
/*list style*/
.list-group-item {border-left:none; border-right:none;}
.list-group-item:first-child {border-top:none;}
.list-group-item:first-child, .list-group-item:last-child {border-radius: 0;}
.list-group-item > a {font-size: 18;}
/*input style*/
.box {border: 1px solid #2BBBAD; border-radius:2px; position: relative; padding: 20px; margin-left:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)}
select.form-control{height:35px; outline: none;}
select.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}

label {font-weight: 700; margin-bottom: 5px;}

.badge {margin-bottom:3px; font-size:10px;}
.post-header { padding-bottom: 5px; border-bottom: solid 1px #e6e6e6;}
.post-header h3 {font-size: 20px; margin-top:0px;}
.post-header p {font-size:13px; color:#757575;}
.post-header p > a {font-weight:600;}

.post-body { padding-top: 10px;border-bottom: solid 1px #e6e6e6;}
.post-info {border-bottom: solid 1px #e6e6e6; padding-bottom:0px;float: right; margin-bottom: 10px;}
.nav-pills >li {padding-right: 10px; font-size: 12px;}
.nav-pills >li span {background:#e0f2f1; color:#0d47a1;}
.nav-pills  li .action {color:#0099CC;}
.nav-pills  li .action:hover{color: #33b5e5;}
.post-action {margin-top: 10px;}
.nav-pills>li>a {position: relative; display: block; padding:5px; font-size:12px; color:#0099CC;}
.answer-list {padding: 10px; margin:50px 10px; border-top: 0.2em solid #4B515D;}

.list-item-block{float:left; display: block; width: 100%;border-bottom: 1px solid #f6491a;padding-bottom: 10px;margin: 2em 0 !important;}
.media-heading{margin:0 0 5px;}
.media-heading a {font-weight: 600;}
.media-heading  small {color: #4B515D;}
.comment-block {margin:10px 0; padding:0 10px; border-left:0.2em solid #cfd8dc;margin:10px 0;}
.comment-block-item {margin-top: 20px;}
.comment-block .media-body {padding-left:10px;}
.comment-block  .avt {padding-top:5px;}
.comment-box {margin-top: 20px;}
.list-questions {padding:20px 10px;}

.widget {border:none;box-shadow: none;}
.widget .panel-body { padding:10px;}
.widget .list-group { margin-bottom: 0; }
.widget .panel-heading {box-shadow: none; border: none; background: #fff; padding-left: 18px; border-bottom: solid 1px #2BBBAD;}
.widget .panel-title { display:inline }
.widget .label-info { float: right; color:#00695c; background: #fff;}
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
a.list-title {font-size: 18px ;color:#0099CC; }
.widget .mic-info { color: #666666;font-size: 12px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

