body{
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
   /* font-family: Roboto,sans-serif;*/
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
	background: #f1f2f3;
	color: #4d545d;
	display: block;

}
.btn {text-transform:none; padding:8px 10px;}
.app-content {background-color: #fff; padding-top:10px; border-radius:2px;}
.icon-close {color: #fff; cursor: pointer;}
.icon-close:hover{color:#bdbdbd;}
i.user-status{font-size: 10px; vertical-align: 1px; margin-right: 2px; color: gray;}
i.user-status.online{color: green;}
label {font-weight: 700; margin-bottom: 5px;}
/* Text color styles*/
.danger-text{ color:#ff4444;}
.danger-dark-text{color:#CC0000;}

.warning-text{ color:#ffbb33;}
.warning-dark-text{color:#FF8800;}

.success-text{ color:#00C851;}
.success-dark-text{color:#007E33;}

.info-text{ color:#33b5e5;}
.info-dark-text{color:#0099CC;}

.primary-text{ color:#4285F4;}
.primary-dark-text{color:#0d47a1;}

.default-text{ color:#2BBBAD;}
.default-text{color:#00695c;}

.elegant-text{ color:#2E2E2E;}
.elegant-dark-text{color:#212121;}

.stylish-text{ color:#4B515D;}
.stylish-dark-text{color:#3E4551;}

.special-text{ color:#37474F;}
.special-dark-text{color:#263238;}

.unique-text{ color:#3F729B;}
.unique-dark-text{color:#1C2331;}

/*navber styles*/
.navbar-default {background-color: #2BBBAD; padding: 5px;}
.navbar-default .navbar-nav>li:hover {background-color: #fff;}
.navbar-default .navbar-nav>li .active {background-color: #fff;}
.navbar-default .navbar-nav>li >.notification:hover {background-color:#2BBBAD;}
.navbar-default .dropdown:hover {background-color: #fff;}
.navbar-default .dropdown:hover .dropdown-menu{display: block;}
.navbar-default .navbar-nav>li>a, a.navbar-brand {color:#23252b; font-size: 15px;}

/*side bar style */
.sidebar {border-left:solid 1px #e0e0e0 ; margin-left: 10px;}
.menu-label {padding:10px; font-weight: 600;font-size: 15px;letter-spacing: -.5px;color:#757575;}
.menu-list{list-style-type:none;list-style-position: outside; padding-left: 0px;}
.menu-list >li{border-bottom: 1px dotted #d7d7d7; padding: 10px 0; -webkit-transition: padding-left .4s; transition: padding-left .4s; color: #69707a; font-weight: 400; letter-spacing: -.5px; }
.menu-list >li:hover {background-color:#eceff1 ;}
.menu-list a {color: #30b1a4;}
.menu-list a , a:hover, li.active a {text-decoration: none;}
.menu-list li > a{font-weight: 400; font-size: 15px; padding-left: 5px;}
.menu-list li > a > i {padding-right: 5px;}
.menu-list li.active{background-color: #eceff1}
.menu-list li.active a {color:#2bbbad; text-decoration: blink;}

.sidebar-tags ul {display: flex; flex-direction: row; flex-wrap: wrap; list-style: none;} 
.sidebar-tags li{ margin-left:.5rem; margin-top: 10px;}
.sidebar-tags a {background:#e3f2fd; padding: 5px; color:#3F729B; font-size:12px; border-radius:2px;}
.sidebar-tags a:hover{background:#90caf9;}

span.help-inline .validate-text {color: red;}
.main-content {padding-left: 20px;}

/*list style*/
.list-group {box-shadow: none;}
.list-group-item {border-left:none; border-right:none;}
.list-group-item:first-child {border-top:none;}
.list-group-item:first-child, .list-group-item:last-child {border-radius: 0;}
.list-group-item > a {font-size: 18;}
/*input style*/
.box {border: 1px solid #2BBBAD; border-radius:2px; position: relative; padding: 20px; margin-left:10px;
    }
select.form-control{height:35px; outline: none;}
select.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.form-heading {border-bottom:solid 1px #4B515D; padding-bottom: 5px; margin-bottom: 20px;}

.badge {margin-bottom:3px; font-size:10px;background-color: green;}
.post-header { padding-bottom: 5px;}
.post-header h3 {font-size: 20px; margin-top:0px;}
.post-header p {font-size:13px; color:#757575;}
.post-header p > a {font-weight:600;}
.post-info {border-bottom: solid 1px #e6e6e6; padding-bottom:0px;float: right; margin-bottom: 10px;}
.nav-pills >li {padding-right: 10px; font-size: 12px;}
.nav-pills >li span {background:#e0f2f1; color:#0d47a1;}
.nav-pills  li .action {color:#0099CC;}
.nav-pills  li .action:hover{color: #33b5e5;}
.post-action {margin-top: 10px;}
.nav-pills>li>a {position: relative; display: block; padding:5px; font-size:12px; color:#0099CC;}
.answer-list {padding:10px 0px; margin:30px 0px ;}
.answer-body {background-color: #fafafa ;padding:5px;border-radius: 2px;border:solid 1px #eee;}
.best {border: solid 2px green;}
.title-link{color:#0099CC; font-size: 15px;}
.title-link:hover{color: #4285F4; text-decoration: underline;}
.list-item-block{float:left; display: block; width: 100%;border-bottom: 1px solid #bdbdbd;padding-bottom: 10px;margin: 2em 0 !important;}
.anchorAt { -webkit-animation-name: anchorAt; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: anchorAt;
    animation-duration: 4s;}

.media-heading{margin:0 0 5px;}
.media-heading a {font-weight: 600; font-size: 14px;}
.media-heading span {font-size: 12px; color: #757575;}
.media-heading  small {color: #4B515D;}
.small-avt {border: solid 1px #26c6da; border-radius: 2px;}
.comment-block {margin:10px 0; padding:0 10px; border-left:0.2em solid #cfd8dc;margin:10px 0;}
.comment-block-item {margin-top: 20px;}
.comment-block .media-body {padding-left:10px;}
.comment-block  .avt {padding-top:5px;}
.comment-box {margin-top: 20px;}
.list-questions {padding:20px 10px;}

.widget {border:none;box-shadow: none;}
.widget .panel-body { padding:10px;border-bottom: solid 1px #e0e0e0;}
.widget .list-group { margin-bottom: 0; }
.widget .panel-heading {box-shadow: none; border: none; background: #fff; padding-left: 18px; border-bottom: solid 1px #2BBBAD;}
.widget .panel-title { display:inline }
.widget .label-info { float: right; color:#00695c; background: #fff;}
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
a.list-title {font-size: 18px ;color:#0099CC; }
.widget .mic-info { color: #666666;font-size: 12px; margin-top: 8px;}
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
.filter-title{padding: 10px 0px; border-bottom:solid 2px #00695c; font-size: 15px;}
.related {margin-top:20px;}
.related-list {box-shadow: none;}

.date-created {color:#9e9e9e; font-size:12px; }
.pagination.pg-bluegrey .active .page-link {padding:5px;}
.fb-share-button {padding:5px;}

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px; padding:6px 12px;}
a.title-hyperlink {color: #008ad6; font-size: 15px; font-weight: normal; line-height: 1.3; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width:95%;}
a.title-hyperlink:hover {color:#4285F4;text-decoration: underline;}
.card-title .title-hyperlink {width: 100%; white-space: normal;}

.notify-item:not(:last-child) {padding:5px; border-bottom: 1px solid #e0e0e0; font-size: 11px;}
.notify-item strong {color: #0099CC;}
.notify-badge {background:red; border-radius: 50%;}

.question-tags ul {display: flex; flex-direction: row; flex-wrap: wrap; list-style: none;} 
.question-tags li:not(:first-child){ margin-left:.5rem;}
.question-tags a {background:#e3f2fd; padding: 5px; color:#3F729B; font-size:12px; border-radius:2px;}
.question-tags a:hover{background:#90caf9;}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes anchorAt {
    from {background-color:#bbdefb ;}
    to {background-color:#fff;}
}
/* Standard syntax */
@keyframes anchorAt {
    from {background-color:#bbdefb ;}
    to {background-color:#fff;}
}
