body{
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #4d545d;
	display: block;

}
/*navber styles*/
.navbar-default {background-color: #2BBBAD; padding: 5px;}
.navbar-default .navbar-nav>li:hover {background-color: #fff;}
.navbar-default .navbar-nav>li >.notification:hover {background-color:#2BBBAD;}
.navbar-default .dropdown:hover {background-color: #fff;}
.navbar-default .dropdown:hover .dropdown-menu{display: block;}
.navbar-default .navbar-nav>li>a, a.navbar-brand {color: #37474F;}
/*side bar style */
.sidebar {border-right:solid 1px #e0e0e0 ;}
.menu-label {font-weight: 700;font-size: 15px;letter-spacing: -.5px;margin-bottom: 1em;color:#757575; text-align: center;}
.menu-list{list-style-type:none;list-style-position: outside; padding-left: 0px;}
.menu-list >li{    
    border-bottom: 1px dotted #d7d7d7;
    padding: 10px 0;
    -webkit-transition: padding-left .4s;
    transition: padding-left .4s;
    color: #69707a;
    font-weight: 400;
    letter-spacing: -.5px;
}
.menu-list >li:hover {background-color:#eceff1 ;}
a {color: #30b1a4;}
a , a:hover, li.active a {text-decoration: none;}
li > a{font-weight: 400; font-size: 15px; padding-left: 5px;}
li.active a {color:#2bbbad; font-weight: 600; margin-left: 10px; text-decoration: blink;}
.main-content {padding-left: 20px;}

/*list style*/
.list-group-item {border-left:none; border-right:none;}
.list-group-item:first-child {border-top:none;}
.list-group-item:first-child, .list-group-item:last-child {border-radius: 0;}
.list-group-item > a {font-size: 18;}
/*input style*/
.box {border: 1px solid #e6e6e6; border-radius: 0; position: relative; padding: 20px; margin-left:10px;}
.form-control{ box-shadow:none; border-color:#bdbdbd; height:35px; border-radius: 0;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}

/* Text color styles*/
.danger-color{ color:#ff4444;}
.danger-color-dark{color:#CC0000;}

.warning-color{ color:#ffbb33;}
.warning-color-dark{color:#FF8800;}

.success-color{ color:#00C851;}
.success-color-dark{color:#007E33;}

.info-color{ color:#33b5e5;}
.info-color-dark{color:#0099CC;}

.primary-color{ color:#4285F4;}
.primary-color-dark{color:#0d47a1;}

.default-color{ color:#2BBBAD;}
.default-color-dark{color:#00695c;}

.elegant-color{ color:#2E2E2E;}
.elegant-color-dark{color:#212121;}

.stylish-color{ color:#4B515D;}
.stylish-color-dark{color:#3E4551;}

.special-color{ color:#37474F;}
.special-color-dark{color:#263238;}

.unique-color{ color:#3F729B;}
.unique-color-dark{color:#1C2331;}

/* button styles*/
.btn {
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none !important;
    padding:5px 10px;
    border-radius:4px;
    color: #4d545d;
}
.btn:hover{color:#fff;}
a .btn .btn-link {color:#3F729B; }

.btn-main{background-color:#fff;border:solid 1px #00b09c;}
.btn-main:hover {background:#00b09c;}


.btn-primary {background-color:#fff; border:solid 1px #0099CC;}/*blue*/
.btn-primary:hover {background-color:#0099CC;}

.btn-success {background-color: #fff;border:solid 1px #46a049;} /* Green */
.btn-success:hover {background-color: #46a049;}

.btn-info {background-color: #fff;border:solid 1px #0099CC;} /* Blue */
.btn-info:hover {background: #0099CC;}

.btn-warning {background-color: #fff; border:solid 1px #e68a00;} /* Orange */
.btn-warning:hover {background: #e68a00;}

.btn-danger {background-color: #fff; border:solid 1px #da190b;} /* Red */ 
.btn-danger:hover {background: #da190b;}

.btn-default {background-color: #fff; border:solid 1px #ddd;} /* Gray */ 
.btn-default:hover {background: #ddd;color: #000;}

label {font-weight: 700; margin-bottom: 5px;}

.badge {margin-bottom:3px; font-size:10px;}
.post-header { padding-bottom: 5px; border-bottom: solid 1px #e6e6e6;}
.post-header h3 {font-size: 18px; margin-top:0px;}
.post-header p {font-size:13px; color:#757575;}
.post-header p > a {font-weight:600;}

.post-body { padding-top: 10px;border-bottom: solid 1px #e6e6e6;}
.post-info {border-bottom: solid 1px #e6e6e6; padding-bottom: 10px;float: right;}
.nav-pills >li {padding-right: 10px; font-size: 12px;}
.nav-pills >li span {background:#e0f2f1; color:#0d47a1;}
.post-action {margin-top: 0px;}
.nav-pills>li>a {position: relative; display: block; padding:5px; font-size:12px; color:#0099CC;}

.answer-list {padding: 10px; margin:50px 10px; border-top: 0.2em solid #4B515D;}

.list-item-block{float:left; display: block; width: 100%;border-bottom: 2px solid whitesmoke;padding-bottom: 10px;margin: 2em 0 !important;}
.media-heading{margin:0 0 5px;}
.media-heading a {font-weight: 600;}
.media-heading  small {color: #4B515D;}
.comment-item-block {margin:10px 0; padding:0 10px; border-left:0.2em solid #f6491a;margin:10px 0;}
.comment-item-block .media-body {padding-left:10px;}
.comment-item-block  .avt {padding-top:5px;}

